beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
git+https://github.com/montenegrodr/daftlistings
elasticsearch==2.4.1
enum34==1.1.6
idna==2.5
requests==2.18.1
urllib3==1.21.1
elasticsearch-dsl==2.2.0